body,
html {
  height: 100%;
}
.bg-gradient-primary-to-secondary {
    background-color: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
  }

img{
  vertical-align: middle;
}

.profile {
    position: relative;
    height: 35vw;
    width: 40vw;
    border-radius: 5vw;
    margin-top: 5vw;
    /* max-height: 40rem;
    max-width: 40rem; */
  }
  .profile .profile-img {
    height: 40rem;;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .img-fluid{
    height: 20vw;
    width: 20vw;
  }